html {
  font-size: 62.5%;
}

body {
  color: #ffffff;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

.main-container {
  display: flex;
  height: 97vh;
  margin-top: 5px;
  border-radius: 2rem;
}

.container {
  width: 50%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main {
  padding: 8rem;
}

.main-logo {
  font-size: 6rem;
}

.main-title {
  font-size: 2.5rem;
}

.description {
  margin: 3rem 0;
}

.button {
  font-size: 1.6rem;
  font-weight: 700;
  width: 16rem;
  height: 6rem;
  cursor: pointer;
  outline: none;
}

.button:hover {
  filter: opacity(0.9);
}

.buttons {
  display: flex;
  justify-content: center;
  width: fit-content;
  gap: 4rem;
}

.card {
  background-color: #ffffff;
  width: 60rem;
  overflow: hidden;
}

.card-question {
  height: 25rem;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.5);
  /* border-radius: 51px; */
}

.card-title {
  font-size: 2.5rem;
  font-weight: 700;
}

.card-answer {
  color: #000000;
  padding: 3rem 1.5rem;
  font-size: 2rem;
  font-weight: 500;
  min-height: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card,
.button {
  border-radius: 1.5rem;
  border: none;
  box-shadow: 0px 4px 50px 1px rgba(0, 0, 0, 0.5);
}

.blur {
  filter: blur(5px);
}

@media (max-width: 1024px) {
  .main-container {
    width: 100vw;
    height: 100vh;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 21rem;
  }

  .container {
    width: 100%;
  }

  .main {
    padding: 2rem;
  }

  .logo {
    justify-content: center;
  }

  .card {
    margin: 2rem;
  }

  .buttons {
    flex-direction: column;
    width: 100%;
  }

  .button {
    width: 100%;
  }
}

.gradiente {
  background: linear-gradient(310deg, #ffffff, #2bb594, #2698d4);
  background-size: 180% 180%;
  animation: gradient-animation 9s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}